<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Design</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="d-flex align-items-center justify-content-center text-white text-center" style="background-image: url('/images/gym_design_hero_background.jpg'); height: 500px;">
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold">Gym Design Experts</h1>
            <p class="lead mb-4">We design and deliver exceptional gym spaces.</p>
        </div>
      </div>

      <div class="py-5 my-3 text-center">
        <h1 class="mb-3 display-5 fw-bold text-body-emphasis">GYM DESIGN</h1>
        <br>
        <div class="col-lg-10 mx-auto">
          <p class="lead mb-4 fw-bold" style="color: var(--color3);">GymEquipment.co.uk are qualified and experienced gym design consultants. We aim to give you an outstanding professional fitness consultancy service that helps you plan, create, and install the right gym equipment for you. We work with you to produce 2D and 3D designs of your home gym, school gym, pilates studio or commercial gym space, to help you visualise an overall concept. With major UK gym brands at our side, we ensure that the gym equipment we install suits you and your gym space.</p>
          <h2>Experienced. Knowledgeable. Dependable.</h2>
            <button type="button" class="btn btn-lg px-4 text-white mt-5" style="background-color: var(--color3); width: 300px;">Get In Touch</button>
        </div>
      </div>

      <div class="container py-4">
        <div class="row align-items-md-stretch">
              <div class="row col-md-12">
                <div class="p-5 col-md-6 bg-body-tertiary border" style="height: 400px;">
                    <h2>DESIGN CONSULTANCY</h2>
                    <br>
                    <p>It can be frustrating to know how to design and create your dream gym. Partner with a gym design consultant and we professionally and smoothly deliver your dreams. As an established gym design consultancy, we can help you at every step of the way. <br> <br> From designing a new gym, to converting a garage gym or garden gym room, we're able to advise, consult and, ultimately, help you create your perfect gym space.</p>
                </div>
                <div class="p-5 col-md-6 text-bg-dark" style="background-image: url('/images/design_jumbotron_image1.jpg'); height: 400px;"></div>
            </div>
            <div class="row col-md-12">
                <div class="p-5 col-md-6 text-bg-dark" style="background-image: url('/images/design_jumbotron_image2.jpg'); height: 400px;"></div>
                <div class="p-5 col-md-6 bg-body-tertiary border" style="height: 400px;">
                    <h2>HOW WE WORK</h2>
                    <br>
                    <p>Contact us to schedule a face-to-face, online or phone consultation. Your gym designer will ask all the questions they need to create your gym, from the training you like, to your vision for your gym and the space available. We also do site visits, where needed, to confirm your space and advise on the more practical elements like gym flooring, as well as equipment positioning and mirrors. <br> With this knowledge, we create a 2D/3D concept that brings your gym interior design to life. Whether you're looking for home gym equipment or commercial gear, we offer high-quality gym equipment, professional advice and exceptional service to make the process as easy as possible.</p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-lg px-4 text-white mt-5" style="background-color: var(--color3); width: 300px;">Get In Touch</button>          
        </div>
    </div>

    <div class="container p-5">
        <h1 class="display-4 fw-bold">5 REASONS TO CHOOSE US</h1>
        <div class="row align-items-md-stretch p-5" style="border-top: 1px solid var(--color3);">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <h1 class="display-2" style="color: var(--color1);">01</h1>
                    <h2>BESPOKE GYM DESIGNS</h2>
                    <p class="lead">We design every gym for our client. Free 3D design concepts. No extra charges.</p>
                </div>
                <div class="col-md-6">
                    <h1 class="display-2" style="color: var(--color1);">02</h1>
                    <h2>20+ YEARS EXPERIENCE</h2>
                    <p class="lead">Industry experience, equipment expertise and gym know-how.</p>
                </div>
                <div class="col-md-6">
                    <h1 class="display-2" style="color: var(--color1);">03</h1>
                    <h2>ALL MAJOR BRANDS</h2>
                    <p class="lead">We're not tied to any single gym brand so we can choose what's right for you.</p>
                </div>
                <div class="col-md-6">
                    <h1 class="display-2" style="color: var(--color1);">04</h1>
                    <h2>PRICE MATCH</h2>
                    <p class="lead">If you have a better quote, we'll always try to price match.</p>
                </div>
                <div class="col-md-6">
                    <h1 class="display-2" style="color: var(--color1);">05</h1>
                    <h2>VALUE FOR MONEY</h2>
                    <p class="lead">We always balance your gym wish list with your budget. No extra charges.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="row align-items-md-stretch">
              <div class="row col-md-12">
                <div class="p-5 col-md-6 bg-body-tertiary border" style="height: 400px;">
                    <h2>FLOORING</h2>
                    <br>
                    <p>Our expertise and knowledge of gym flooring means you can get the perfect balance between aesthetics and performance, including vibration noise, acoustics, protection and sustainability. No need to glue down anymore either! <br> <br> Choose from rubber gym tiles that are 1m x 1m or for smaller spaces 1m x 0.5m. You can also add a custom sprint track as well custom logo print or choose different colours for zoning to optimise your gym layout design.</p>
                </div>
                <div class="p-5 col-md-6 text-bg-dark" style="background-image: url('/images/design_jumbotron_image3.jpg'); height: 400px;"></div>
            </div>
            <div class="row col-md-12">
                <div class="p-5 col-md-6 text-bg-dark" style="background-image: url('/images/design_jumbotron_image4.jpg'); height: 400px;"></div>
                <div class="p-5 col-md-6 bg-body-tertiary border" style="height: 400px;">
                    <h2>MIRRORS</h2>
                    <br>
                    <p>Mirrors can help open up the space in your gym, but they are also key for you to check your 'form' when you exercise. They can also provide some much-needed motivation when you need it. <br> <br> We offer a wide range of mirror sizes from the Pilkington Optimirror 6mm range, measured to size and installed professionally. Our partners are available nationwide so enquire about our gym room design service today.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-center p-5">
        <h3>"We needed some inspiration and guidance for a new strength gym in our garden. Russ came back with some superb ideas including a functional trainer, half rack and attachments. His support and guidance was invaluable and we now have a superb gym space where we actually train!"</h3>
        <br>
        <h3>Mary, Oxfordshire</h3>
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-lg px-4 text-white mt-5" style="background-color: var(--color3); width: 300px;">Get In Touch</button>          
    </div>

    <%- include("partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>